.timeline {
  border: 1px solid black;

  .vis-timeline .vis-bottom .vis-ltr {
    border: 10px solid black !important
  }

  .vis-item {
    border-color: orange;
    background-color: yellow;
  }

}
