body,
html {
  font-family: sans-serif;
}

/* alternating column backgrounds */
.vis-time-axis .vis-grid.vis-odd {
  background: #f5f5f5;
}

.vis-item {
  border: 1px solid black;
}

/* gray background in weekends, white text color */
.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
  background: gray;
}

.vis-time-axis .vis-text.vis-saturday,
.vis-time-axis .vis-text.vis-sunday {
  color: white;
}
